
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
        <input matInput placeholder="firstname" formControlName="firstName"  required />
        <mat-error *ngIf="registerForm.controls.firstName.errors?.required">
            first name is required
        </mat-error>
    </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <input matInput placeholder="secondname" formControlName="lastName"  required/>
        <mat-error *ngIf="registerForm.controls.lastName.errors?.required">
            Last name is required
        </mat-error>
    </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <input matInput placeholder="username" formControlName="username" required/>
        <mat-error *ngIf="registerForm.controls.username.errors?.required">
            User name is required
        </mat-error>
    </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <input  matInput placeholder="password" type="password" formControlName="password" required />
        <mat-error *ngIf="registerForm.controls.password.errors?.required">
            password is required
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.errors?.minlength">
            minimum password lemgth is 6
        </mat-error>
    </mat-form-field>
    </div>
    <div>
        <button [disabled]="!registerForm.valid" mat-raised-button>Register</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']">Cancel</a>
    </div>
</form>
